<a href="https://colab.research.google.com/github/Elwing-Chou/tibaml1017/blob/main/sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84125825/84125825 [==============================] - 6s 0us/step

In [2]:
import os
import glob
import pandas as pd
def getdata(mid):
    dn = os.path.dirname(dataset)
    posfn = glob.glob(os.path.join(dn, "aclImdb", mid, "pos", "*"))
    negfn = glob.glob(os.path.join(dn, "aclImdb", mid, "neg", "*"))
    contents = []
    for fn in posfn + negfn:
        with open(fn, encoding="utf-8") as f:
            contents.append(f.read())
    df = pd.DataFrame({
        "content":contents,
        "sentiment":[1] * len(posfn) + [0] * len(negfn)
    })
    return df
train_df = getdata("train")
test_df = getdata("test")

In [4]:
test_df

                                                 content  sentiment
0      Love Jones cleverly portrays young African-Ame...          1
1      Wow, here is another great golf movie. That's ...          1
2      Giorgino is a long, excruciating journey from ...          1
3      Had it with the one who raised you since when ...          1
4      This wonderfully witty comedy-drama wowed the ...          1
...                                                  ...        ...
24995  All the pro comments about this movie claim th...          0
24996  Nothing will ever top KOMODO with the lovely J...          0
24997  When I went to see this film, let's not say th...          0
24998  I supposed I was actually expecting a Bollywoo...          0
24999  I accept that most 50's horror aren't scary by...          0

[25000 rows x 2 columns]